**LISTS COMPREHENSIONS**

In [3]:
### multiples of 3 of 1 to 100
n=[]
for i in range(1,101):
    if(i%3==0):
        n1=n.append(i)
print(n1)

None

In [4]:
[1 for i in range(10)]

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [8]:
[i for i in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
[i*i for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [10]:
[i if i%2==0 else i+4 for i in range(1,11)]

[5, 2, 7, 4, 9, 6, 11, 8, 13, 10]

In [ ]:
####filter data using list comprehension

In [20]:
students=[['poo',92,1],['pooja',56,2],['ajoop',88,3]]
[student for student in students if student[1]>60]

[['poo', 92, 1], ['ajoop', 88, 3]]

In [ ]:
#####select students whose have backlocks below2

In [21]:
[student for student in students if((student[1]>60) and (student[2]<=1))]

[['poo', 92, 1]]

In [ ]:
####double for loop
english=[50,60,70]
maths=[30,40,30]

In [23]:
[i+j for i in range(3) for j in range(3)]

[0, 1, 2, 1, 2, 3, 2, 3, 4]

In [24]:
####x^2+y^2=z^2
[(i,j,k) for i in range(1,101) for j in range(1,101) for k in range(1,101) if(i**2+j**2==k**2)]

[(3, 4, 5),
 (4, 3, 5),
 (5, 12, 13),
 (6, 8, 10),
 (7, 24, 25),
 (8, 6, 10),
 (8, 15, 17),
 (9, 12, 15),
 (9, 40, 41),
 (10, 24, 26),
 (11, 60, 61),
 (12, 5, 13),
 (12, 9, 15),
 (12, 16, 20),
 (12, 35, 37),
 (13, 84, 85),
 (14, 48, 50),
 (15, 8, 17),
 (15, 20, 25),
 (15, 36, 39),
 (16, 12, 20),
 (16, 30, 34),
 (16, 63, 65),
 (18, 24, 30),
 (18, 80, 82),
 (20, 15, 25),
 (20, 21, 29),
 (20, 48, 52),
 (21, 20, 29),
 (21, 28, 35),
 (21, 72, 75),
 (24, 7, 25),
 (24, 10, 26),
 (24, 18, 30),
 (24, 32, 40),
 (24, 45, 51),
 (24, 70, 74),
 (25, 60, 65),
 (27, 36, 45),
 (28, 21, 35),
 (28, 45, 53),
 (28, 96, 100),
 (30, 16, 34),
 (30, 40, 50),
 (30, 72, 78),
 (32, 24, 40),
 (32, 60, 68),
 (33, 44, 55),
 (33, 56, 65),
 (35, 12, 37),
 (35, 84, 91),
 (36, 15, 39),
 (36, 27, 45),
 (36, 48, 60),
 (36, 77, 85),
 (39, 52, 65),
 (39, 80, 89),
 (40, 9, 41),
 (40, 30, 50),
 (40, 42, 58),
 (40, 75, 85),
 (42, 40, 58),
 (42, 56, 70),
 (44, 33, 55),
 (45, 24, 51),
 (45, 28, 53),
 (45, 60, 75),
 (48, 14, 50),
 (48, 20, 52),
 (48, 36, 60),
 (48, 55, 73),
 (48, 64, 80),
 (51, 68, 85),
 (52, 39, 65),
 (54, 72, 90),
 (55, 48, 73),
 (56, 33, 65),
 (56, 42, 70),
 (57, 76, 95),
 (60, 11, 61),
 (60, 25, 65),
 (60, 32, 68),
 (60, 45, 75),
 (60, 63, 87),
 (60, 80, 100),
 (63, 16, 65),
 (63, 60, 87),
 (64, 48, 80),
 (65, 72, 97),
 (68, 51, 85),
 (70, 24, 74),
 (72, 21, 75),
 (72, 30, 78),
 (72, 54, 90),
 (72, 65, 97),
 (75, 40, 85),
 (76, 57, 95),
 (77, 36, 85),
 (80, 18, 82),
 (80, 39, 89),
 (80, 60, 100),
 (84, 13, 85),
 (84, 35, 91),
 (96, 28, 100)]

In [25]:
### two digits number using 0 and 1
[str(i)+str(j) for i in range(0,2) for j in range(0,2)]

['00', '01', '10', '11']

In [28]:
### two digit numbers using 0-9
[str(i)+str(j) for i in range(0,10) for j in range(0,10)]

['00',
 '01',
 '02',
 '03',
 '04',
 '05',
 '06',
 '07',
 '08',
 '09',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33',
 '34',
 '35',
 '36',
 '37',
 '38',
 '39',
 '40',
 '41',
 '42',
 '43',
 '44',
 '45',
 '46',
 '47',
 '48',
 '49',
 '50',
 '51',
 '52',
 '53',
 '54',
 '55',
 '56',
 '57',
 '58',
 '59',
 '60',
 '61',
 '62',
 '63',
 '64',
 '65',
 '66',
 '67',
 '68',
 '69',
 '70',
 '71',
 '72',
 '73',
 '74',
 '75',
 '76',
 '77',
 '78',
 '79',
 '80',
 '81',
 '82',
 '83',
 '84',
 '85',
 '86',
 '87',
 '88',
 '89',
 '90',
 '91',
 '92',
 '93',
 '94',
 '95',
 '96',
 '97',
 '98',
 '99']

In [30]:
[(i,j) for i in range(0,10) for j in range(0,10)]

[(0, 0),
 (0, 1),
 (0, 2),
 (0, 3),
 (0, 4),
 (0, 5),
 (0, 6),
 (0, 7),
 (0, 8),
 (0, 9),
 (1, 0),
 (1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (1, 7),
 (1, 8),
 (1, 9),
 (2, 0),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (2, 7),
 (2, 8),
 (2, 9),
 (3, 0),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (3, 5),
 (3, 6),
 (3, 7),
 (3, 8),
 (3, 9),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4),
 (4, 5),
 (4, 6),
 (4, 7),
 (4, 8),
 (4, 9),
 (5, 0),
 (5, 1),
 (5, 2),
 (5, 3),
 (5, 4),
 (5, 5),
 (5, 6),
 (5, 7),
 (5, 8),
 (5, 9),
 (6, 0),
 (6, 1),
 (6, 2),
 (6, 3),
 (6, 4),
 (6, 5),
 (6, 6),
 (6, 7),
 (6, 8),
 (6, 9),
 (7, 0),
 (7, 1),
 (7, 2),
 (7, 3),
 (7, 4),
 (7, 5),
 (7, 6),
 (7, 7),
 (7, 8),
 (7, 9),
 (8, 0),
 (8, 1),
 (8, 2),
 (8, 3),
 (8, 4),
 (8, 5),
 (8, 6),
 (8, 7),
 (8, 8),
 (8, 9),
 (9, 0),
 (9, 1),
 (9, 2),
 (9, 3),
 (9, 4),
 (9, 5),
 (9, 6),
 (9, 7),
 (9, 8),
 (9, 9)]

In [31]:
####create a dictionary for squares={1;1,2:4,3:9,......}
squares={}
for i in range(1,11):
    squares[i]=i*i
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [32]:
###dictionary comprehension
{i:i*i for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [33]:
{i:i*i for i in range(1,11) if i%2==0}

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [36]:
{i:i*i if i%2==0 else i**3 for i in range(1,11)}

{1: 1, 2: 4, 3: 27, 4: 16, 5: 125, 6: 36, 7: 343, 8: 64, 9: 729, 10: 100}

In [40]:
names=['pooja','honey']
grades=['o','s']
{i:j for i in names for j in grades}
print(len(names))

2

In [43]:
student={}
for i in range(len(names)):
    name=names[i]
    grade=grades[i]
    student[name]=grade
print(student)

{'pooja': 'o', 'honey': 's'}

In [44]:
for name,grade in zip(names,grades):
    print(name,grade)

pooja o
honey s

In [64]:
####sort the students based on english marks
###[name,english,maths]
student=[['poo',60,40],['honey',90,68],['pooja',56,45]]
a=1
for i in student:
    i.insert(0,i.pop(a))
student.sort()
for i in student:
    i.insert(a,i.pop(0))
print(student)

[['pooja', 56, 45], ['poo', 60, 40], ['honey', 90, 68]]

**LAMBDA FUNCTION**

In [65]:
###single line function 
## doesnot have return statement
##it doesnot have multiple return statement by using tuple or list we can
fun=lambda x:'hi'

In [66]:
fun('o')

'hi'

In [67]:
square=lambda a: a*a

In [68]:
square(5)

25

In [69]:
fum=lambda a:a[0]

In [70]:
b=[1,2,3,4]

In [71]:
fum(b)

1

In [75]:
students=[['pooja',90,50],['honey',80,80],['ajoop',60,70]]
students.sort(key=lambda b:b[1])
students

[['ajoop', 60, 70], ['honey', 80, 80], ['pooja', 90, 50]]

In [76]:
students.sort(key=lambda a:a[1]+a[2])

In [77]:
students

[['ajoop', 60, 70], ['pooja', 90, 50], ['honey', 80, 80]]

**Map Function**

In [78]:
a=['12','13','14','15']

In [79]:
b=[]

In [80]:
b=map(int,a)

In [81]:
b

In [82]:
list(b)

[12, 13, 14, 15]

In [83]:
marks=['10','20','30','40']

In [84]:
a=map(lambda b:int(b)+10,marks)

In [85]:
print(list(a))

[20, 30, 40, 50]

**ALL FUNCTION**

In [89]:
###it return true or false
###it returns true when all items are true
marks=[10,20,0,10]
all(marks)

False

**ANY FUNCTION**

In [96]:
### returns true when any one function is true
any(marks)

True

**FILTER FUNCTION**

In [97]:
marks=[10,30,40,50,0,100]
m=filter(None,marks)

In [98]:
list(m)

[10, 30, 40, 50, 100]

In [100]:
students=[['poo',{'maths':30,'english':50}],
          ['pooja',{'english':100,'maths':100}],
          ['honey',{'maths':50,'english':40}]
         ]
students.sort(key=lambda x:x[1]['maths'])
students

[['poo', {'maths': 30, 'english': 50}],
 ['honey', {'maths': 50, 'english': 40}],
 ['pooja', {'english': 100, 'maths': 100}]]

In [ ]:
students=[['jyo',10],['jyosh',30],['jyothsna',50]]
s=(filter(lambda x:int(x[1])<=30,students))
list(s)
Out[150]:
[['jyo', 10], ['jyosh', 30]]
In [151]: