**Factorial of a number**

In [1]:
a=int(input())
mul=1
for i in range(1,(a+1)):
    mul=i*mul
print(mul)

10
3628800

**Prime Numbers up to N**

In [16]:
n=int(input())
for i in range(1,n+1):
    if i>1:
        for j in range(2,i):
            if(i%j)==0:
                break
        else:
            print(i)

15
2
3
5
7
11
13

**check if the number exist in a given range(input:number(n),range(lower number and upper n umber)**

In [4]:
l=int(input())
h=int(input())
n=int(input())
if(n in range(l,h+1)):
    print("Yes in range")
else:
    print("No not in range")

10
20
89
No not in range

**Check the number of digits in a given number**

In [5]:
num=input()
print(len(num))

123456002589
12

**check if the give number is a factor of 1000**

In [6]:
n=int(input())
if 1000%n ==0:
    print(n,"is factor")
else:
    print(n,"is not factor")

300
300 is not factor

***27-08-2019***

**Calculate the square root og given number**

In [12]:
import math
a=int(input())
print("Square root of given number without using inbuilt function:",a**(0.5))
print("Square root of given number using inbuit function:",math.sqrt(a))

456
Square root of given number without using inbuilt function: 21.354156504062622
Square root of given number using inbuit function: 21.354156504062622

**print count of numbers and average of the given numbers taken by the user in a single line**

In [13]:
a=input().split()
sum=0
count=0
print(len(a))
for i in a:
    sum=sum+int(i)
    count+=1
print("Sum:",sum)
print("Number of number:",count)
print("Average:",(sum/count))

10 20 30
3
Sum: 60
Number of number: 3
Average: 20.0

**String Palindrome**

In [15]:
a=input()
b=a[::-1]
if(a==b):
    print("yes")
else:
    print("No")

mam
yes

**Count Division: You have been given 3 integers-l,r and k. Find how many numbers between l and r are divisible by k**

In [18]:
l=int(input())
r=int(input())
k=int(input())
for i in range(l,r+1):
    if i%k==0:
        print(i)

10
20
11
11

**ISBN: The book has a special ISBN(International Standard Book Number) which is  unique numeric book identifier only for Voldemort's book printed on it. The ISBN is based upon a 10-digit code. The ISBN is valid if:
1xdigit1 + 2xdigit2 + 3xdigit3 + 4xdigit4 + 5xdigit5 + 6xdigit6 + 7xdigit7 + 8xdigit8 + 9xdigit9 + 10xdigit10 is divisible by 11.**

In [2]:
a=int(input())
#1401601499,102356412345
sum=0
i=10
while a:
    sum=sum+(a%10)*i
    a=a//10
    i-=1
print(sum)
if(sum%11==0):
    print("Valid")
else:
    print("Not Valid")

1401601499
253
Valid

**Toggle String**

In [4]:
s=input()
print(s)
print("Toggle String:",s.swapcase())

PooJaHoneyTumu123
PooJaHoneyTumu123
Toggle String: pOOjAhONEYtUMU123

**Identical Strings**

In [7]:
a=input()
b=input()
if a==b:
    print("Identical")
else:
    print("Not Identical")

pooja
pooja
Identical

**Char Sum: here first character a has weight 1 and the second charecter b has 2 and third character again has wight of 1. So the summation here is equal to :(aba)1+2+1=4(strings)**

In [15]:
a=input()
sum=0
n=len(a)
for i in range(n):
    v=ord(a[i])-ord('a')+1
    sum=sum+v
print(sum)

pooja
57

**E-Maze in:x and y axises need to take input like LLRDDR(strings)**

In [23]:
a=input("Enter input like LLRDDR:")
x,y=0,0
for i in a:
    if(i=='L'):
        x-=1
        y=y
    elif(i=='R'):
        x+=1
        y=y
    elif(i=='D'):
        x=x
        y-=1
    elif(i=='U'):
        x=x
        y+=1
    print(x,y)

Enter input like LLRDDR:LLRDDR
-1 0
-2 0
-1 0
-1 -1
-1 -2
0 -2

**Given String:"Problem Solving Using Python"
1.Find length of string
2.Change the string to lowercase
3.Print the string in reverse order
4.Find how many times"s" is repeated in agiven string**

In [27]:
a="Problem Solving Using Python"
print("Length of given string:",len(a))
print("Lower case:",a.lower())
print("Reverse Order:",a[::-1])
print("Number of times s repeated:",a.count("s"))

Length of given string: 28
Lower case: problem solving using python
Reverse Order: nohtyP gnisU gnivloS melborP
Number of times s repeated: 1

In [1]:
**Given string:**

SyntaxError: invalid syntax (<ipython-input-1-ec107ea30239>, line 1)

28/08/2019

In [7]:
num=(input("enter the integer"))
num=num.split()
print(num)
if num[1]=='+':
    print(int(num[0])+int(num[2]))
elif num[1]=='-':
    print(int(num[0])-int(num[2]))
elif num[1]=='*':
    print(int(num[0])*int(num[2]))
elif num[1]=='/':
    print(int(num[0])//int(num[2]))
elif num[1]=='%':
    print(int(num[0])%int(num[2]))

enter the integer2 * 4
['2', '*', '4']
8

**life**

In [11]:
a=0
while(a!=42 and a<=99):
    a=int(input("input:"))
    print(a)

input:1
1
input:4
4
input:5
5
input:42
42

**Profile upload**

In [3]:
width_height=int(160)
a=input().split()
if(len(a)==2):
    if(len(a[0])<=3 and len(a[1])<=3):
        if((int(a[0])>width_height) and (int(a[1])>width_height)):
            print("Crop..")
        elif((int(a[0])==width_height) and (int(a[1])==width_height)):
            print("Accept..")
        elif(((int(a[0])==width_height) and (int(a[1])>width_height)) or ((int(a[0])<width_height) and (int(a[1])==width_height))):
            print("Upload another..")
        elif((int(a[0])<width_height) and (int(a[1])<width_height)):
            print("Upload another..")
    else:
          print("Upload another..")
else:
          print("Upload another..")

1140 235
Upload another..

30-08-2019

**Factorial of a given number using functions**

In [1]:
def fact(n):
    f=s=1
    for i in range(1,n+1):
        f1=f*i
        s=s*f1
    return s
a=int(input())
fact(a)

5

120

**Function to print all number divisible by 6 and not a factor of 100 in a given range(l,U) both inclusive**

In [2]:
def function(l,u):
    for i in range(l,u+1):
        if(i%6==0 and 100%i!=0):
            print(i)
a=int(input())
b=int(input())
function(a,b)

10
20
12
18

**Function to find the average of cubes of all the even numbers in a given range (l,u)inclusive**

In [4]:
def function(l,u):
    s=c=0
    for i in range(l,u+1):
        if(i%2==0):
            e=i**3
            s=s+e
            c=c+1
    return s//c
a=int(input())
b=int(input())
function(a,b)

1
10

360

**Function to generate a factor for a given number**

In [5]:
def number(n):
    for i in range(1,n+1):
        if(n%i==0):
            print(i)
n=int(input())
number(n)

10
1
2
5
10

**Function to check a number is prime**

In [6]:
def prime(n):
    c=0
    for i in range(1,n+1):
        if(n%i==0):
            c+=1
    if(c==2):
        print("Prime")
    else:
        print("Not prime")
n=int(input())
prime(n)

15
Not prime

**Function to calculate the average  of first N Prime Numbers**

In [19]:
def prime(u):
    c=0
    for i in range(1,u+1):
        if(u%i==0):
            c+=1
    if(c==2):
        return True

In [20]:
n=int(input())
c=0
s=0
for i in range(1,n+1):
    if(prime(i)):
        print(i)
        s+=i
        c+=1
print(s//c," Average of N primes..")

10
2
3
5
7
4  Average of N primes..

**Function to print all perfect numbers in a given range**

In [21]:
def perfect(a,b):
    for i in range(a,b+1):
        s=0
        for j in range(1,i):
            if(i%j==0):
                s=s+j
        if(s==i):
            print(i)
a=int(input())
b=int(input())
perfect(a,b)

1
10
6

In [ ]:
'''
# Sample code to perform I/O:
name = input()                  # Reading input from STDIN
print('Hi, %s.' % name)         # Writing output to STDOUT
# Warning: Printing unwanted or ill-formatted data to output will cause the test cases to fail
'''

In [25]:
a=input()
print("hi,",a)

poojahoney
hi, poojahoney

In [ ]:
num=int(input())
s=1
n1=(input())
n2=n1.split()
print(n2)
for i in range(0,len(n2)):
    print(int(n2[i]))
    s=s*p
print(s)
5
1 2 3 4 5
['1', '2', '3', '4', '5']
1
2
3
4
5
3125
In [52]:
###3 september
###print highest marks of the student
students=[["jyo",10,20,30],["jyosh",30,40,60],["hritika",30,40,60]]
high=0
for i in students:
    name=i[0]
    marks=i[1]+i[2]+i[3]
    if high<marks:
        high=marks
for i in students:
    name=i[0]
    marks=i[1]+i[2]+i[3]
    if high==marks:
        print(name)
jyosh
hritika
In [49]:
####sorting should be done on list second element
students=[[1,30,40],[3,40,100],[2,50,10]]
students[0][2],students[0][0]=students[0][0],students[0][2]
students[1][2],students[1][0]=students[1][0],students[1][2]
students[2][2],students[2][0]=students[2][0],students[2][2]
students.sort()
students[0][0],students[0][2]=students[0][2],students[0][0]
students[1][0],students[1][2]=students[1][2],students[1][0]
students[2][0],students[2][2]=students[2][2],students[2][0]
print(students)
[[2, 50, 10], [1, 30, 40], [3, 40, 100]]
In [2]:
###find the number of characters(a-z and A-Z)
###find the number of numbers in the given string
count=count1=0
data="Jyothsna 123 Hritika"
for i in data:
    if("A"<=i<="Z" or "a"<=i<="z"):
        count=count+1
    elif("0"<=i<"9"):
        count1=count1+1
print(count)
print(count1)
15
3
In [3]:
###sum of digits
def sum_digit(data):
    r=c=0
    for i in data:
        if i.isdigit():
            r=r+int(i)
    return r
In [4]:
sum_digit(data)
Out[4]:
6
In [13]:
###average of numbers in a string
c=0
for i in data:
    if i.isdigit():
        c=c+1
        
a=sum_digit(data)
print(a/c)
2.0
In [61]:
####lucky number
data="123456"
while True:
    r=str(sum_digit(data))
    if(len(r)>1):
        data=r
    else:
        break
print(r)
3
In [62]:
data="jyosh1234"
r={}
for c in data:
    if c.isalpha():
        r['alpha']=r.get('alpha',0)+1
    if c.isdigit():
        r['digits']=r.get('digits',0)+1
print(r)
{'alpha': 5, 'digits': 4}
In [27]:
###find frequency of characters
name="Jyothsna hritika"
frequency={}
for i in name:
    for j in i:
        if(i==j):
            frequency[i]=frequency.get(i,0)+1
            
print(frequency)
{'J': 1, 'y': 1, 'o': 1, 't': 2, 'h': 2, 's': 1, 'n': 1, 'a': 2, ' ': 1, 'r': 1, 'i': 2, 'k': 1}
In [54]:
####find frequency of urls
urls={'www.google.com','www.gmail.com','www.yahoo.com','www.google.com'}
frequency={}
for i in urls:
    for j in urls:
        if(i==j):
            frequency[i]=frequency.get(i,0)+1
print(frequency)
{'www.gmail.com': 1, 'www.yahoo.com': 1, 'www.google.com': 1}
In [3]:
####4september
####develop pattern for company name endswith 'e' and must have 5 characters
import re
companies=['google','apple','microsoft','tcs']
for i in companies:
    if(re.search('^....e$',i)):
        print(i)
apple
In [29]:
##### print only characters in the message
message=""" iam from &&vijayawada$my my mobile number is  9866131508 we stay here from last 3 days"""
for i in message:
    if(re.findall('[a-zA-Z]+',i)):
        print(i, end=" ")
i a m f r o m v i j a y a w a d a m y m y m o b i l e n u m b e r i s w e s t a y h e r e f r o m l a s t d a y s 
In [28]:
re.findall('[a-zA-Z]+',message)
Out[28]:
['iam',
 'from',
 'vijayawada',
 'my',
 'my',
 'mobile',
 'number',
 'is',
 'we',
 'stay',
 'here',
 'from',
 'last',
 'days']
In [30]:
data="jyo 123 jyo 456"
re.findall('\d+',data)
Out[30]:
['123', '456']
In [31]:
####pattern for email id
In [11]:
###create a function to check the given data is valid or not for given pattern
def mobile(num):
    if(re.search('^[6-9]\d{9}$',num)):
        print("valid")
    else:
        print("invalid")
num=(input())        
mobile(num)
6549873210
valid
In [5]:
####create a person name validator 
###(M.jyothsna,jyothsna.M,jyothsna manne,manne jyothsna,jyothsna)
import re
def person(name):
    if(re.search('^[a-zA-Z]+[ .]{0,1}[a-zA-z]+[ ]*[a-zA-z]+$',name)):
            print("valid")
    else:
        print("invalid")
name=input()
person(name)
jyothsna.m
invalid
In [44]:
###create function to check given data valid or not for given pattern
def validate(pattern,data):
    if(pattern==('^[a-zA-Z]$')):
        re.search(pattern,data)
    else:
        return False

In [2]:
### reading the csv files using pandas:
import pandas as pd
income=pd.read_csv("income.csv")
income

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,47215,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

**Average income of Alaska in all years**

In [3]:
s=c=0
for i in range(2,11):
    s=s+income.values[1][i]
    c+=1
print("Average income of Alaska in all years:",(s//c))

Average income of Alaska in all years: 60106

**Average income of all states in 2012**

In [4]:
s=c=0
for i in income.values:
    s=s+i[9]
    c+=1
print("Average income of all states in 2012:",(s//c))

Average income of all states in 2012: 50038

**Create a function to print all columns in a single line**

In [5]:
def fun1():
    return income.columns
fun1()

Index(['GEOID', 'State', '2005', '2006', '2007', '2008', '2009', '2010',
       '2011', '2012', '2013'],
      dtype='object')

**Create a function to access a row based on a unique column value**

In [6]:
def fun2(a):
    return income.values[a]
fun2(4)

array(['04000US06', 'California', 51755, 55319, 55734, 57014, 56134,
       54283, 53367, 57020, 57528], dtype=object)

**Create a function to find average income of all states from 2005 to 2013**

In [7]:
def fun3():
    a=[]
    for i in range(0,5):
        s=c=0
        for j in range(2,11):
            s=s+income.values[i][j]
            c=c+1
        print("Average income of "+income.values[i][1]+" is:",(s//c))
        a.append(s//c)
    b=len(a)
    print("Average income of all states from 2005 to 2013 is:",(sum(a)//b))
fun3()

Average income of Alabama is: 41126
Average income of Alaska is: 60106
Average income of Arizona is: 47214
Average income of Arkansas is: 38828
Average income of California is: 55350
Average income of all states from 2005 to 2013 is: 48524

In [127]:
def fun4():
    s=0
    for i in range(len(income)+1):
        if(s<=4):
            print("Average income of "+income.values[s][1]+" is:",int(income.values[i][2:].mean()))
            s=s+1
fun4()

Average income of Alabama is: 41126
Average income of Alaska is: 60106
Average income of Arizona is: 47214
Average income of Arkansas is: 38828
Average income of California is: 55350

**Create a function to find the heighest average income in the last three years**

In [128]:
s1=s2=s3=c=0
for i in income.values:
    s1=s1+i[8]
    s2=s2+i[9]
    s3=s3+i[10]
    c=c+1
if(s1>s2 and s1>s3):
    print("Highest average income of- "+income.columns[8]+" is:",s1)
elif(s2>s1 and s2>s3):
    print("Highest average income of- "+income.columns[9]+" is:",s2)
else:
    print("Highest average income of- "+income.columns[10]+" is:",s3)

Highest average income of- 2013 is: 250567

**Create a function to find the lowest average income from 2007 to 2010(inclusive)**

In [129]:
def fun5():
    s1=s2=s3=s4=c=0
    for i in income.values:
        s1+=i[4]
        s2+=i[5]
        s3+=i[6]
        s4+=i[7]
        c+=1
    if(s1<s2 and s1<s3 and s1<s4):
         print("Lowest average income of- "+income.columns[4]+" is:",s1)
    elif(s2<s1 and s2<s3 and s2<s4):
         print("Lowest average income of- "+income.columns[5]+" is:",s2)
    elif(s3<s1 and s3<s2 and s3<s4):
         print("Lowest average income of- "+income.columns[6]+" is:",s3)
    else:
         print("Lowest average income of- "+income.columns[7]+" is:",s4)
fun5()

Lowest average income of- 2010 is: 238547

**Print the list of all states in the same line with average income less than Calfornia**

In [130]:
def fun6():
    n=[]
    m=[]
    for i in range(0,5):
        s=c=0
        for j in range(2,11):
            s=s+income.values[i][j]
            c+=1
        n.append(s//c)
    for i in n:
        if(i<n[-1]):
            m.append(income.values[n.index(i)][1])
    print(m)
fun6()

['Alabama', 'Arizona', 'Arkansas']

**Print the names of states based on desending order of their averages**

In [174]:
#using dictonaries

In [175]:
def fun4():
    s=0
    b=[]
    c={}
    for i in range(len(income)+1):
        if(s<=4):
            c[int(income.values[i][2:].mean())]=income.values[s][1]
            s+=1
    a=sorted(c,reverse=True)
    for i in a:
        if i in c:
            b.append(c.get(i))
    print("Desecding order of income averages:",b)
fun4()

Desecding order of income averages: ['Alaska', 'California', 'Arizona', 'Alabama', 'Arkansas']

**State the lowest recorded income based from 2005 to 2013**

In [176]:
v=[]
for i in range(0,5):
    for j in range(2,11):
        v.append(income.values[i][j])
min(v)

36538

In [87]:
len(income)

5